@font-face {
    font-family: 'Helvetica', sans-serif;
    src: url('../fonts/helvetica.woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Helvetica-bold', sans-serif;
    src: url('../fonts/helvetica-bold.woff2');
    font-style: normal;
    font-weight: 700;
}
html{
    box-sizing: border-box;
  }
*,
*::before,
*::after{
    box-sizing: inherit;
  }
.container{
    max-width: 500px;
    padding: 0 10px;
    margin: 20px auto;
}
body{
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #5c5c5e;
    min-width: 320px;
    overflow-x: hidden;
}
.title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.accordion__item{
    border: 1px solid #b91125;
    background-color: #311d1d;
}


.accordion__title{
    position: relative;
    color: #fff;
    font-size: 20px;
    display: block;
    cursor: pointer;
    padding: 15px;
    order: -1;
    width: 100%;
    transition: all .3s ease;
}


.accordion__content{
    max-height: 0;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    transition: all .5s ease;
}
.accordion__content img{
    padding-top: 20px;
    width: 100%;
}
.accordion__input{
    width: 0;
    height: 0;
    appearance: none;
}
.accordion:hover .accordion__item{
    background-color: #533985;
    color: #000;
}
.accordion__input:hover ~ .accordion__content{
    max-height: 40vh;
}
.accordion__input:checked ~.accordion__content{
    max-height: 40vh;
}
.accordion__title:hover{
    background-color: #745e5e;
    color: #000;
}

.accordion__input:checked ~ .accordion__title{
    background-color: #745e5e;
}


.accordion__title::after{
    content: url('../images/icon/plus.svg');
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.accordion__input:checked ~ .accordion__title::after{
    transform: rotate(45deg) translateY(-70%);
    right: 45px;
}
.accordion__input:hover ~ .accordion__title::after{
    transform: rotate(45deg) translateY(-70%);
    right: 45px;
}

@media(max-width:420px){
    .accordion__title{
        font-size: 16px;
    }
}